@import 'vars';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;

  padding: 0 24px;

  border-bottom: 1px solid $--very-light-pink;
  background-color: $--white;
  z-index: 1;
}
.Header .menu {
  display: none;
}
.Header .navbar-left .logo {
  display: block;
  width: 100px;
  margin-bottom: 0;
  cursor: pointer;
}
.Header .navbar-left ul,
.Header .navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.Header .navbar-left {
  display: flex;
  align-items: center;
}
.Header .navbar-left ul {
  margin-left: 12px;
}
.Header .navbar-left ul li a,
.Header .navbar-right ul li a {
  text-decoration: none;
  color: $--very-light-pink;
  border: 1px solid $--white;
  padding: 8px;
  border-radius: 8px;
}
.Header .navbar-left ul li a:hover,
.Header .navbar-right ul li a:hover {
  border: 1px solid $--hospital-green;
  color: $--hospital-green;
}
.Header .navbar-email {
  color: $--very-light-pink;
  font-size: $--sm;
  margin-right: 20px;
  cursor: pointer;
}
.Header .navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.Header .navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: $--hospital-green;
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .Header .menu {
    display: block;
    cursor: pointer;
  }
  .Header .navbar-left ul {
    display: none;
  }
  .Header .navbar-email {
    display: none;
  }
}
